---
// This is a custom animation
const anim = {
  old: {
    name: "flyInOut",
    duration: "1s",
    easing: "linear",
    // fillMode: "forwards",
  },
  new: {
    name: "flyInOut",
    duration: "1s",
    direction: "reverse",
    easing: "linear",
    // fillMode: "forwards",
  },
};

const myFade = {
  forwards: anim,
  backwards: anim,
};
---

<a href="/foo">
  <div class="container" transition:name="overlay" transition:animate={myFade}>
    Go back to /foo
  </div>
</a>

<style>
  .container {
    position: absolute;
    height: 100%;
    width: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
  }
</style>
