<a href="/foo">
  <div class="container">Go back to /foo</div>
</a>

<style>
  .container {
    position: absolute;
    height: 100%;
    width: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
  }
</style>
